<div>
  <script type="text/jsx">
  /*** @jsx React.DOM */
    var APP = React.createClass({
      render:function() {
        return (
          <h1>Hello World</h1>
          )
      }
    });

    React.renderComponent(<APP />, document.getElementById('container'));
  </script>

</div>