// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-family: 'Raleway', sans-serif;
  font-weight:400;
}
#manifesto h1{
  color: white;
}

.tag{
  cursor: pointer;
  margin: 1px;
}
.static-first {
  position: fixed;
}


.landing{
  background: image-url('newspapers.png');
  -webkit-filter: brightness(65%);
  height: 300px;
  width:100%;
  right: 0px;
  overflow: visible;
  margin-bottom: 50px;
}

.landing .row{
  background-color: black;
  opacity: 0.8;
  padding: 20px;

}
.landing h1{
  font-weight: 400;
  font-size: 5em;
}

.landing h3{
  bottom: 0;
  float: right;
  color: white;
}

.article p {
  font-family: 'Playfair Display', serif;
}

.article-container {
  padding-bottom: 10px;
}

.full-page{
  top: 0px;
  position:fixed;
  z-index:-1;
  height:100%;
}


.accentWord{
  font-family: 'Raleway', sans-serif;
  color: red;
  display: inline;
}


#manifesto{
  postion: fixed;
  z-index: 999;
  margin-top: 15%;
  background-color: #000;
  opacity: 0.8;
  padding: 25px;
}

#enter{
  font-family: 'Raleway', sans-serif;
  font-weight:100;
  color: #801515;
  text-decoration: underline;
  display:inline;
}

.inline{
  display:inline;
}

#login_form {
  background-color:#fff;
  border-radius:15px;
  color:#000;
  display:none;
  padding:20px;
  min-width:400px;
  min-height: 180px;
}

.b-close {
  cursor:pointer;
  position:absolute;
  right:10px;
}

.static-first{
  position: fixed;
}

.hide-this{
  visibility: hidden;
}

.agree{
  margin-right: 3px;
}

.agree:hover, .disagree:hover{
  background-color: #dedede;
  shadow: 1px 1px 1px 1px;
}

.tick text {
  margin-right: 5px;
  margin-left: 5px
}
