// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//.two_articles{
//  color: red;
//}
h2{
  font-family: 'Playfair Display', serif;
}

.full-page{
  height:100%;
  background-color: gray;
}

.accentWord{
  font-family: 'Playfair Display', serif;
  color: #801515;
  display: inline;
}

#manifesto{
  margin-top: 15%;
}

#enter{
  color: #801515;
  text-decoration: underline;
  display:inline;
}

.inline{
  display:inline;
}
